DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_TIME_ZONE=UTC
DJANGO_ADVISORY_LOCK_NAMESPACE=django-eve-industry
EVE_API_BASE=https://esi.evetech.net/latest
EVE_TOKEN_API=https://login.eveonline.com/v2/oauth/token
EVE_CLIENT_ID=
EVE_CLIENT_SECRET=
EVE_CORPORATION_ID=0
ESI_TOKEN_ENCRYPTION_KEY=change-me
POSTGRES_DB=django_eve_industry
POSTGRES_USER=django_eve_industry
POSTGRES_PASSWORD=django_eve_industry
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
